*{
    margin: 0;
    padding: 0;
}
body{
    background: #F5F5F5;
}
.form-box{
    width: 376px;
    height: 402px;
    margin: 60px auto;
    background: white;
    border-radius: 7px;
    padding: 30px 40px;
    box-shadow: 
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
.it, p{
    text-align: center;
    margin-bottom: 25px;
    color: #BFB1AF;
}
.form-control{
	width: 80%;
    padding: 10px;
    display: block;
    margin: 10px auto;
    border:none;
    border-bottom: 1px solid #E1E1E1;
}
::placeholder{
    color: #BFB1AF;
}
.sign{
	width: 85%;
    padding: 15px;
    display: block;
    margin: 25px auto;
    background: #19AA8D;
    border: none;
    border-radius: 5px;
    color: white;
}
.form-box p a{
    color: #19AA8D;
    text-decoration: none;
}